.table > tbody > tr > td{
    border-top: none;
}
.table tbody + tbody{
    border-top: 1px dotted #eaeaea;
}
.table thead th {
    border-bottom: 1px dotted #eaeaea;
}
.inv-container{
    margin: 0 auto;
}
.inv-dropdown-btn {
    background-color: white;
    color: black;
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.inv-dropdown {
    position: relative;
    display: inline-block;
}
.inv-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.inv-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.inv-dropdown-content ul{
    border-bottom: 1px solid #999;
    list-style: none;
    padding: 2px;
    margin: 1px;
}
.inv-dropdown-content ul li ,.inv-dropdown-content ul li label{
    margin: 1px;
    cursor: pointer;
}
.dropdown-title{
    font-weight: 600;
    font-size: 17px;
    padding: 2px;
}
.inv-dropdown a:hover {background-color: #ddd;}
.show {display: block;}
label.error{
    font-size: 13px;
    color: red;
}
.inv-header{
    display: flex;
    background-color: whitesmoke;
}
.inv-header>div{
    margin: 10px 45px;
}
.inv-header-title{
    font-size: 22px;
}
#itemInputContainer table tbody tr.itemRow > td:first-child input{
    width: 100%;
}
#itemInputContainer table tbody tr.itemRow > td:first-child{
    width: 100%;
}
.inputDiscount{
    min-width: 75px;
}
.inputQty{
    min-width: 85px;
}
.inputPrice{
    min-width: 95px;
}
.inputTax{
    min-width: 130px;
}
.inputDiscountType{
    min-width: 60px;
    border-left:0;
}
#itemInputFooter>table{
    min-width: 400px;
    float: right;
}
.shippingAmount input, .otherDiscount input,.customAmount input{
    width: 100%;
}
#itemInputFooter table tbody tr td:last-child,.itemAmount{
    min-width: 50px;
    text-align: right;
    padding:5px;
}
#itemInputContainer tbody{
    line-height: 21px;
}
.addRow{
    text-align: right;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
}
.inputDescription{
    margin-bottom: 5px;
}
.itemName{
    resize: vertical;
}
.inputItemDescription{
    width: 100%;
    resize: vertical;
}
.addRowContainer>td,.des-col{
    border:none !important;
    padding: 0 0 12px 4px !important;
}
.inputHSN{
    min-width: 90px;
}
.itemDiscount{
    padding-left:0 !important;
    padding-right:0 !important;
}
.taxRow{
    display: none;
}
.inputTax{
    overflow: inherit;
}
.inputTax.open{
    overflow: inherit;
}
.dropzone-attachments{
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100px;
    background-color: rgb(237, 237, 237);
    padding: 10px 0px;
}
.event-attachments{ height: auto !important; min-height: 175px; padding: 0px 7px; overflow: hidden;}
.add-attachments{float: left; height: 80px; width: 70px; border: 1px dashed #aaa; margin: 10px 0px 0px 10px; text-align: center; vertical-align: middle; cursor: pointer;}
.add-attachments .fa-plus{font-size: 40px; margin-top: 20px}
.list-attachments {float: left; height: 80px; width: 80px; border: 1px dashed #aaa; margin: 10px 0px 0px 10px; text-align: center; background-color: #ddd}
.list-attachments .fa{ font-size: 50px; line-height: 1.3}
.list-attachments .attachment-item-delete{font-size: 14px; margin: 2px 2px 0px 63px; clear: both; cursor: pointer; color: #A00}
.dz-preview, .dz-file-preview { display: none; }
.list-attachments .far { font-size: 60px; margin-top: -10px; }
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .inputQty,.inputDiscount{
        min-width: 80px;
    }
    .inputPrice{
        min-width: 60px;
    }
    .inputDiscountType{
        min-width: 60px;
        border-left:0;
    }
    .inputTax{
        min-width: 80px;
    }
    .shippingAmount input, .otherDiscount input, .customAmount input{
        width: 60px;
    }
    .inputDescription{
        min-width: 140px;
    }
    .inputHSN{
        min-width: 80px;
    }

}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

    .inputQty,.inputPrice,.inputDiscount{
        min-width: 80px;
    }
    .inputTax{
        min-width: 80px;
    }
    .inputDiscountType{
        min-width: 40px;
    }
    .shippingAmount input, .otherDiscount input, .customAmount input{
        width: 55px;
    }
    #itemInputFooter > table{
        min-width:inherit;
        float: inherit;
    }
    #otherDiscountType{
        min-width: 60px;
    }
    .inputHSN{
        min-width: 80px;
    }
}
@media (min-width: 280px) and (max-width: 590px) {
    .inputQty,.inputPrice,.inputDiscount{
        min-width: 80px;
    }
    .inputDescription{
        min-width: 140px;
    }
}
.ck-content { 
    height: 200px; 
}
@media (min-width: 768px) {
    #add-button-md{
      display: inline-block;
    }
    #add-button-sm{
      display: none;
    }
}
@media (max-width: 767px) {
    #add-button-sm{
      display: inline-block;
    }
    .input-group{
      background-color: transparent;
    }
}
.ui-menu-item {
    border-bottom: 1px dashed gray;
    padding: 3px 0px !important;
    font-size: 13px;
}
/* Quotation styles */
#order-total {
    white-space: nowrap !important;
}