table {
    width: 100%;
}

td img {
    max-width: 60px;
    max-height: 60px;
}

table {
    overflow-x: scroll;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #c7def4;
    padding: 5px 15px;
}

small {
    display: block;
    text-align: left;
    padding: 10px 0;
}

@media screen and (max-width: 992px) {
    .table {
        overflow-x: scroll;
    }
}